<br/>
<br/>
<h2>Confirm deletion of pilot</h2>
<br/>
<br/> ID:
<%=  pilot._id %>
  <br> First Name:
  <%=pilot.firstName%>
    <br/> Last Name:
    <%=pilot.lastName%>
      <br/> Hours Flown:
      <%=pilot.hoursFlown%>
        <br/> Is Current:
        <%=pilot.isCurrent%>
            <br/>
            <br/>

            <form method="get" action="/pilot">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/pilot/delete/<%= pilot._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>