<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= flight.name %>" required>
      </div>
      <div class="form-group">
        <label for="startingPoint">Starting Point</label>
        <input type="text" class="form-control" id="startingPoint" name="startingPoint" value="<%= flight.startingPoint %>">
      </div>
      <div class="form-group">
        <label for="endingPoint">Ending Point</label>
        <input type="text" class="form-control" id="endingPoint" name="endingPoint" value="<%= flight.endingPoint %>">
      </div>
      <div class="form-group">
        <label for="durationHours">Duration</label>
        <input type="number" class="form-control" id="durationHours" name="durationHours" value="<%= flight.durationHours %>" required>
      </div>
      <div class="form-group">
        <label for="pilotId">Pilot ID</label>
        <input type="text" class="form-control" id="pilotId" name="pilotId" value="<%= flight.pilotId %>">
      </div>
      <div class="form-group">
        <label for="planeId">Plane ID</label>
        <input type="text" class="form-control" id="planeId" name="planeId" value="<%= flight.planeId %>">
      </div>
    </div>
  </div>
  <hr>
  <br/>